<h1>Edit Card</h1>

<form action="/update/<%= id %>" method="POST">
    <label for="sideone">Side One:</label><br>
    <input type="text" id="sideone" name="sideone" value="<%= card.sideone %>"><br>
    <label for="sidetwo">Side Two:</label><br>
    <input type="text" id="sidetwo" name="sidetwo" value="<%= card.sidetwo %>"><br>
    <input type="submit" value="Update Card">
</form>